.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
node_modules/
dist/
packages/cli/out
packages/extension/out
packages/language/out
**/src/generated
syntaxes/
*.tsbuildinfo
*.vsix

.idea

demo/generated
